/* Theme */
:root {
    --color-background: #242424;
    --color-text: #ffffff;
    
    --color-primary-dark: #1942b3; 
    --color-primary: #2563EB; 
    --color-primary-light: #286bf9; 

    --color-card-dark: #1F2937;
    --color-card: #374151;
    --color-card-light: #4B5563;

    --color-neutral-dark: #8c9199;
    --color-neutral: #9CA3AF;
    --color-neutral-light: #D1D5D8;

    /* other colors */
    --color-light: #FFFFFF;
    --color-dark: #000000;
    --color-warning: #F9AD50;
    --color-success: #2e9152;
    --color-success-dark: #236c3e;
    --color-danger: #b13535;
    --color-danger-dark: #892929;
}